@import '../../styles/colors';

.link{
  fill: $mojo;
  text-decoration: underline;

  &:hover, &:focus{
    fill: $white;
  }
}
.land{
  fill: $black;
  stroke: $white;
  stroke-width: 0.5;
}
.track{
  stroke: $track;
  stroke-width: 2px;
}
.cityMarkOuter{
  fill: $track;
}
.cityMarkInner{
  fill: $black;
}
.cityLabel{
  fill: $white;
  font-weight: bold;
  font-size: 1.5rem;
}