@import '../../styles/colors';
@import '../../styles/mixin.breakpoints';

.link{
  cursor: pointer;
  fill: $white;
  @include  for-tablet-portrait-up {
    fill: $mojo;
  }

  &:hover, &:focus{
    fill: $white;
  }
}
.land{
  fill: $black;
  stroke: $white;
  stroke-width: 2;
}
.track{
  stroke: $track;
  stroke-width: 4px;
  stroke-linejoin: round;
}
.cityMarkOuter{
  fill: $track;
}
.cityMarkInner{
  fill: $black;
}
.cityLabel{
  fill: $white;
  font-weight: bold;
  font-size: 3.7vw;
  @include  for-tablet-portrait-up {
    font-size: 1.5rem;
  }
}