//Names
$lightBlack: #000506;
$drover: #FEF2AB;
$cuttySark: #4F7379;
$equator: #DCAE61;
$spectra: #385A5C;

//Roles
$darkBackground: $lightBlack;
$text: $drover;
$linkHover: $equator;
$linkActive: $spectra;