//Names
$black: #000;
$white: #fff;
$blue: #2611E3;
$mojo: #ff6633;
$mojo-75opaque: rgba(200, 73, 48, .75);

//-- Roles
//- Common
$darkBackground: $black;
$lightBackground: $white;
$text: $black;
$link: $blue;

//- Map
$track: $mojo;