@import "./colors.scss";

a{
  color: $equator !important;

  &:hover, &:focus, &:active{
    color: $cuttySark !important;
  }
}

h4{
  font-size: 1.6rem !important;
}

.margined {
  margin: 1em !important;
}