.masonry{
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  max-width: 100%;

  &__comment{
    width: 100%;
    padding: 1.4em 1em .8em;
    h3{
      font-size: 1.8em;
    }
    h4{
      font-size: 1.5em;
    }
  }

  &__item{
    position: relative;
    flex: 1 1 calc(100%/4);
    max-width: calc(100%/4);
    transition: transform .25s ease 0s;
    cursor: pointer;
    border: 1px solid #63806C;

    &:after{
      content: '';
      position: absolute;
      background-color: rgb(104, 190, 222);
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
    }

    &:hover {
      transform: scale(0.99);
      &:after{
        opacity: .1;
      }
    }

    @media screen and (orientation: landscape) {
      height: calc(100vh/4);
    }

    @media screen and (orientation: portrait) {
      height: calc(100vh/6);
    }
  }
}
.loader{
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em;
}

.lds-css{
  width: 40px;
  margin: 0 auto;
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 0 0 #3D5958;
  -webkit-transform-origin: 80px 84px;
  transform-origin: 80px 84px;
}
.lds-eclipse {
  width: 40px !important;
  height: 40px !important;
  -webkit-transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
  transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
}

.modal{
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, .9);
  overflow: hidden;

  &__close{
    z-index: 99999;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    width: 20px;
    height: 20px;

    path{
      fill: #FCECC3;
    }

    &:hover, &:focus{
      path{
        fill: #F1DB8E;
      }
    }
  }

  &_show{
    display: block;
  }
}

.swiper-container{
  height: 100vh;
}
.swiper-slide{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-item{
  max-height: 90vh;
  max-width: 90%;
}
.swiper-button-next, .swiper-button-prev{
  background-image: none;
  width: 20px;
  height: 40px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;

  &:focus{
    outline: none !important;
  }
  path{
    fill: #FCECC3
  }
  &:hover, &:focus{
    path{
      fill: #F1DB8E
    }
  }
}

.swiper-lazy-preloader{
  background: none;
  animation: none;
  position: absolute;
  top: calc(50% - 3vh);

  &:before, &:after{
    display: none;
  }
}