.masonry {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  max-width: 100%;
  padding: 0 15px; }
  @media (min-width: 600px) {
    .masonry {
      padding: 0 50px; } }

.comment {
  width: 100%;
  padding-bottom: 50px; }
  .comment h3 {
    font-size: 1.8em; }
  .comment h4 {
    font-size: 1.5em; }

.item {
  position: relative;
  margin: 1px;
  flex: 1 1 calc(100%/3 - 2px);
  max-width: calc(100%/3 - 2px);
  cursor: pointer; }
  @media (min-width: 600px) {
    .item {
      flex: 1 1 calc(100%/4 - 2px);
      max-width: calc(100%/4 - 2px); } }
  .item:hover {
    opacity: .9; }
  @media screen and (orientation: landscape) {
    .item {
      height: calc(100vh/4); } }
  @media screen and (orientation: portrait) {
    .item {
      height: calc(100vh/6); } }

.loader {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em; }

.ldsCss {
  width: 40px;
  margin: 0 auto; }

@keyframes lds-eclipse-transform {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.ldsEclipse {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px); }
  .ldsEclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse-transform 1s linear infinite;
    animation: lds-eclipse-transform 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 0 0 #ff6633;
    -webkit-transform-origin: 80px 84px;
    transform-origin: 80px 84px; }

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden; }

.modalShow {
  display: block; }

.modalClose {
  z-index: 99999;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .modalClose polygon {
    fill: #ff6633; }
  .modalClose:hover polygon, .modalClose:focus polygon {
    fill: #fff; }

.swiperItem {
  max-height: 90vh;
  max-width: 90%; }

.swiperLazyPreloader {
  background: none;
  animation: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px); }
  .swiperLazyPreloader:before, .swiperLazyPreloader:after {
    display: none; }

:global .swiper-container {
  height: 100vh; }
:global .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
:global .swiper-lazy {
  display: none; }
:global .swiper-lazy-loaded {
  display: block; }
:global .swiper-button-next, :global .swiper-button-prev {
  display: none;
  background-image: none;
  width: 40px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }
  @media (min-width: 600px) {
    :global .swiper-button-next, :global .swiper-button-prev {
      display: block; } }
  :global .swiper-button-next:focus, :global .swiper-button-prev:focus {
    outline: none !important; }
  :global .swiper-button-next path, :global .swiper-button-prev path {
    fill: #ff6633; }
  :global .swiper-button-next:hover path, :global .swiper-button-next:focus path, :global .swiper-button-prev:hover path, :global .swiper-button-prev:focus path {
    fill: #fff; }
:global .swiper-button-prev {
  top: 52%;
  transform: rotate(180deg); }

/*# sourceMappingURL=Gallery.module.css.map */
