@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic');
@import '../../styles/colors';
@import '../../styles/mixin.breakpoints';

//Common
.textContainer{
  padding: 0 15px;
  @include  for-tablet-portrait-up {
    padding: 0 50px;
    max-width: 75%;
  }
}
.fullWidth{
  width: 100%;
}

//Elements
.link{
  cursor: pointer;
  color: $mojo;

  &:hover, &:focus{
    color: $black;
  }
}
.linkInverse{
  cursor: pointer;
  color: $mojo;

  &:hover, &:focus{
    color: $white;
  }
}
.spoiler {
  display: inline-block;
  margin: 1em 0;
  :global{
    .enter{
      max-height: 0;
      opacity: 0;
    }
    .enter-active{
      max-height: 1500px;
      opacity: 1;
      transition: all 500ms linear;
    }
    .exit{
      max-height: 1500px;
      opacity: 1;
      transition: all 500ms linear;
    }
    .exit-active{
      max-height: 0;
      opacity: 0;
    }
  }
}
.spoilerBody{
  overflow: hidden;
}
.goToIndex{
  margin-top: 30px;
  width: 30px;
  z-index: 999;
  &:hover{
    path{
      fill: #000;
    }
  }
  path{
    fill: $mojo;
  }
}
.scrollTopBtn{
  display: none;
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  z-index: 999;
  svg{
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:hover{
      path{
        fill: #000;
      }
    }
  }
  path{
    fill: $mojo;
  }
}
.shareBlock{
  :global{
    .SocialMediaShareButton{
      display: inline-block;
      cursor: pointer;
      &:hover, &:active, &:focus{
        outline: none !important;
      }
    }
  }
  svg{
    transition: all .1s linear;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.shareTitle{
  margin: 1.5em 0 1em;
}

//Blocks
.main{
  width: 100%;
  font-size: 1.4em;
  background-color: $white;
  color: $black;
  @include  for-tablet-portrait-up {
    font-size: 1.5em;
  }

  :global{
    section{
      line-height: 1.4285em;
      margin-bottom: 1em;
    }

    h3{
      font-size: 7.8vw;
      margin: 40px 0 18px;
      @include  for-tablet-portrait-up {
        font-size: 4.32vw;
      }
    }
    p{
      line-height: 1.4em;
      @include  for-tablet-portrait-up {
        line-height: 1.3em;
      }
    }
  }
}
.mapWrapper{
  width: 100%;
  height: 320vh;
  background-color: $black;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @include  for-tablet-portrait-up {
    height: 230vh;
  }
}
.mapHeader{
  position: absolute;
  padding: 20px 0 0 20px;
  color: $white;
  width: 100%;
  min-height: 110vh;
  background: url(../../assets/img/pages/summerside/mapheader4.jpg) no-repeat center;
  background-size: cover;
  z-index: 991;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include  for-tablet-portrait-up {
    padding: 50px 0 0 50px;
  }
  :global {
    h1{
      max-width: 50%;
      font-family: 'Montserrat', sans-serif;
      font-size: 7.8vw;
      @include  for-tablet-portrait-up {
        font-size: 7vw;
        line-height: 1em;
      }
    }
    h2{
      max-width: 50%;
      font-family: 'Montserrat', sans-serif;
      font-size: 4.81vw;
      font-weight: normal;
      text-transform: uppercase;
      @include  for-tablet-portrait-up {
        font-size: 2.67rem;
      }
    }
  }
}
.contentTableSection{
  position: absolute;
  top: 110vh;
  width: 100%;
  min-height: 110vh;
  background-color: rgba(0,0,0,.5);
  z-index: 992;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include  for-tablet-portrait-up {
    background-color: transparent;
    top: 60%;
    min-height: auto;
    width: auto;
  }
}
.contentTable{
  list-style: none;
  font-size: 4.81vw;
  margin: 0;
  padding: 0;
  @include  for-tablet-portrait-up {
    font-size: 1em;
  }
  :global{
    li {
      font-weight: bold;
      margin-bottom: .5em;
      @include  for-tablet-portrait-up {
        margin-bottom: 1em;
      }
    }
  }
}
.map{
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.intro{
  padding-top: 2.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative;
}
.getImg{
  display: block;
  border: 1px solid transparent;
  width: 100%;
  margin: 0 auto;
  @include  for-tablet-portrait-up {
    display: inline-block;
    width: 50%;
  }
}
.divider{
  color: $mojo;
}
.resourcesList{
  list-style: none;
  margin: 1em 0 1em 1em !important;
  padding: 0 !important;
}
.galleryMapWrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.galleryWrapper{
  flex: 1 1 100%;
  width: 100%;
  @include  for-tablet-portrait-up {
    flex: 11 1 62.5%;
  }
}
.stickyRouteWrapper{
  display: none;
  @include  for-tablet-portrait-up {
    display: block;
    flex: 6 1 37.5%;
  }
}
.stickyRouteCol{
  padding: 0 !important;
}
.end{
  padding-top: 1em;
}