@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic");
.textContainer {
  padding: 0 20px; }
  @media (min-width: 600px) {
    .textContainer {
      padding: 0 50px;
      max-width: 75%; } }

.textHighlighted {
  background-color: rgba(200, 73, 48, 0.75);
  padding: .2em; }

.fullWidth {
  width: 100%; }

.link {
  cursor: pointer;
  color: #C84930; }
  .link:hover, .link:focus {
    color: #000; }

.linkInverse {
  cursor: pointer;
  color: #C84930; }
  .linkInverse:hover, .linkInverse:focus {
    color: #fff; }

.spoiler {
  display: inline-block;
  margin: 1em 0;
  background-color: rgba(200, 73, 48, 0.75);
  border-radius: 2px;
  padding: .5em; }
  .spoiler :global .enter {
    max-height: 0;
    opacity: 0; }
  .spoiler :global .enter-active {
    max-height: 1500px;
    opacity: 1;
    transition: all 500ms linear; }
  .spoiler :global .exit {
    max-height: 1500px;
    opacity: 1;
    transition: all 500ms linear; }
  .spoiler :global .exit-active {
    max-height: 0;
    opacity: 0; }

.spoilerTitle, .spoilerTitle:active, .spoilerTitle:focus {
  cursor: pointer;
  color: #000;
  text-decoration: underline; }
  .spoilerTitle:hover, .spoilerTitle:active:hover, .spoilerTitle:focus:hover {
    text-decoration: none; }

.spoilerBody {
  overflow: hidden; }

.goToIndex {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 30px;
  height: 15px;
  z-index: 999; }
  .goToIndex:hover path {
    fill: #fff; }
  .goToIndex path {
    fill: #C84930; }

.scrollTopBtn {
  display: none;
  position: fixed;
  right: 2em;
  bottom: 1.5em;
  z-index: 999; }
  .scrollTopBtn svg {
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .scrollTopBtn svg:hover path {
      fill: #000; }
  .scrollTopBtn path {
    fill: #C84930; }

.shareBlock :global .SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .shareBlock :global .SocialMediaShareButton:hover, .shareBlock :global .SocialMediaShareButton:active, .shareBlock :global .SocialMediaShareButton:focus {
    outline: none !important; }
.shareBlock svg {
  transition: all .1s linear; }
  .shareBlock svg:hover {
    transform: scale(1.1); }

.shareTitle {
  margin: 1.5em 0 1em; }

.main {
  width: 100%;
  font-size: 1.4em;
  background-color: #fff;
  color: #000; }
  @media (min-width: 600px) {
    .main {
      font-size: 1.5em; } }
  .main :global section {
    line-height: 1.4285em;
    margin-bottom: 2em; }
  .main :global h3 {
    font-size: 7.8vw;
    margin: 1em 0 .6em; }
    @media (min-width: 600px) {
      .main :global h3 {
        font-size: 3.93rem; } }
  .main :global h4 {
    margin: .8em 0 .5em; }

.mapWrapper {
  width: 100%;
  height: 320vh;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (min-width: 600px) {
    .mapWrapper {
      height: 230vh; } }

.mapHeader {
  position: absolute;
  padding: 20px 0 0 20px;
  color: #fff;
  width: 100%;
  height: 110vh;
  background: url(../../assets/img/pages/summerside/mapheader.jpg) no-repeat center;
  background-size: cover;
  z-index: 991;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 600px) {
    .mapHeader {
      padding: 50px 0 0 50px; } }
  .mapHeader :global h2 {
    max-width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 7.8vw;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .mapHeader :global h2 {
        font-size: 7vw; } }
  .mapHeader :global h3 {
    max-width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.82vw;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .mapHeader :global h3 {
        font-size: 2.43rem; } }

.contentTableSection {
  position: absolute;
  top: 110vh;
  width: 100%;
  min-height: 110vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 992;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 600px) {
    .contentTableSection {
      background-color: transparent;
      top: 60%;
      min-height: auto;
      width: auto; } }

.contentTable {
  list-style: none;
  font-size: 7.8vw;
  margin: 0;
  padding: 0; }
  @media (min-width: 600px) {
    .contentTable {
      font-size: 2.43rem; } }
  .contentTable :global li {
    font-weight: bold;
    margin-bottom: 1em; }

.map {
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0; }

.intro {
  padding-top: 2.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative; }

.resourcesList {
  list-style: none;
  margin: 1em 0 1em 1em !important;
  padding: 0 !important; }

.galleryMapWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch; }

.galleryWrapper {
  flex: 1 1 100%;
  width: 100%; }
  @media (min-width: 600px) {
    .galleryWrapper {
      flex: 11 1 68.75%; } }

.stickyRouteWrapper {
  display: none; }
  @media (min-width: 600px) {
    .stickyRouteWrapper {
      display: block;
      flex: 6 1 31.25%; } }

.stickyRouteCol {
  padding: 0 !important; }

.end {
  padding-top: 1em; }

/*# sourceMappingURL=summerside.module.css.map */
