@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic');
@import '../../styles/colors';

//Common
.textContainer{
  padding: 0 50px;
  max-width: 75%;
}
.textHighlighted{
  background-color: $mojo-75opaque;
  padding: .2em;
}
.fullWidth{
  width: 100%;
}

//Elements
.link{
  cursor: pointer;
  color: $mojo;
  text-decoration: underline;

  &:hover, &:focus{
    color: $white;
  }
}
.spoiler {
  display: inline-block;
  margin: 1em 0;
  background-color: $mojo-75opaque;
  border-radius: 4px;
  padding: .5em;
  :global{
    .enter{
      max-height: 0;
      opacity: 0;
    }
    .enter-active{
      max-height: 1500px;
      opacity: 1;
      transition: all 500ms linear;
    }
    .exit{
      max-height: 1500px;
      opacity: 1;
      transition: all 500ms linear;
    }
    .exit-active{
      max-height: 0;
      opacity: 0;
    }
  }
}
.spoilerTitle, .spoilerTitle:active, .spoilerTitle:focus{
  cursor: pointer;
  color: $white;
  font-weight: bold;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
.spoilerBody{
  overflow: hidden;
}

//Blocks
.main{
  width: 100%;
  font-size: 1.5em;
  background-color: $black;
  color: $white;

  :global{
    section{
      line-height: 1.4285em;
      margin-bottom: 2em;
    }
    h3{
      font-size: 3.93rem;
      margin: 1em 0 .6em;
    }
    h4{
      margin: .8em 0 .5em;
    }
  }
}
.mapWrapper{
  width: 100%;
  height: 220vh;
  background-color: $black;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    box-shadow: inset 2px -30px 15px -15px $black;
  }
}
.mapHeader{
  position: absolute;
  padding: 50px 0 0 50px;
  color: $black;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .75);
  z-index: 991;
  display: flex;
  flex-direction: column;
  justify-content: center;
  :global {
    h2{
      max-width: 50%;
      font-family: 'Montserrat', sans-serif;
      font-size: 3.93rem;
      text-transform: uppercase;
    }
    h3{
      max-width: 50%;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.43rem;
      text-transform: uppercase;
    }
  }
}
.contentTableSection{
  position: absolute;
  top: 50%;
  z-index: 992;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
}
.contentTable{
  list-style: none;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;

  :global{
    li {
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
}
.map{
  position: sticky;
  top: 0;
}
.intro{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative;
}
.stickyRouteContainer{
  height: 100%;
}
.end{
  padding-top: 1em;
}